nav {
    border-radius: 2px;
    background-color: rgb(241, 219, 78);
    padding: 10px
}

ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
li:hover{
    background-color: beige;
    border-radius: 3px;
    font-size: larger;
}
button:hover{
    border-radius: 1px;
}
